<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<div class="contact">
	<h2>Welcome To Join Us	</h2>
	<form>
      <h4>用户名</h4>
		<input type="text" class="user active" ng-model="name">
      <h4>密码</h4>
		<input type="text" class="password" ng-model="password">
		<h4>邮箱</h4>
	<input type="text" class="email" ng-model="email">
	<h4>电话</h4>
<input type="text" class="tel" ng-model="phone">
<h4>真实姓名</h4>
<input type="text" class="realname" ng-model="realname">
      <h4>角色</h4>
	  <p>
	    <input type="radio" ng-model="role" id="普通用户" value="NORMAL_USER">
	    <label for="Normal"></label>
	  Normal User
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    <input type="radio" ng-model="role" id="特殊用户" value="SPECIAL_USER">
	  <label for="Special"></label>
	  Special User</p>
	  <p>
			<a class="btn" ng-click="register()">注册</a>
			<a class="btn" ui-sref="login">登录</a>
	  </p>
    </form>
</div>

<div class="copyright">
	<p></a></p>
</div>
